@charset "UTF-8";

/* BEGIN layout for navigation header 

#navheader {
   margin: 0px;
   padding: 0px;
}

 END layout for navigation header */

/* BEGIN layout for splash page */

#twocolumnsleft {
	position: absolute; 
   width: 320px;
}

#twocolumnsright {
   float: right;
	position: relative;
	margin-right: 24px; 
   border: medium #EEEEEE solid;
   padding: 10px;
}

/* END layout for splash page */

/* BEGIN layout for regular pages */


#logocolumnleft {
    position: absolute;
    left: 24px;
    width: 64px;
}

#logocolumnright {
    position: relative;
    margin-left: 98px;
    top: 16px;
}

#bodybox {
    position: absolute;
    left: 24px;
    top: 70px;
    right: 24px;
}

/* END layout for regular pages */


/* BEGIN layout for tools pages */


#toolsboxleft {
    position: relative;
    width: 32px;
    margin: 0px;
}

#toolsboxright {
   position: relative;
   margin-top: -36px;
   margin-left: 48px;
   margin-bottom: 24px;
}


/* END layout for tools pages */



p {
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'Lucida Grande', Arial, sans-serif;
	font-size: 12px;
}

p.bold {
   font-weight: bold;
}

p.navbox {
    background-color: #CCCCCC;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 12px;
    padding-left: 6px;
    padding-right: 28px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 10px;
    text-align: right;
}

p.border {
   border: medium #EEEEEE solid;
}


p.twocolumnsright {
   margin-bottom: 6px;
}

p.toolsbox {
   margin-top: 3px;
   margin-bottom: 12px;
}


ul {
	font-family: 'Lucida Grande', Arial, sans-serif;
	font-size: 12px;
}

ol {
	font-family: 'Lucida Grande', Arial, sans-serif;
	font-size: 12px;
}

li {
	font-family: 'Lucida Grande', Arial, sans-serif;
	font-size: 12px;
}

h1 {
	font-family: 'Lucida Grande', Arial, sans-serif;
	color: #000000;
	font-size: 20px;
	font-weight: bold;
	margin-top: 12px;
	margin-bottom: 12px;
	text-align: left;
}

h2 {
	font-family: 'Lucida Grande', Arial, sans-serif;
	color: #000000;
	font-size: 16px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 12px;
	text-align: left;
}


/* Copied from Apple's subheadleft */
h3 {
	font-family: 'Lucida Grande', Arial, sans-serif;
	color: #36C;
	font-size: 14px;
	font-weight: bold;
	line-height: 15px;
	margin-bottom: 3px;
	text-align: left;
}

h3.toolsbox {
   margin-top: 0px;
}

h4 {
	font-family: 'Lucida Grande', Arial, sans-serif;
	font-size: 12px;
	margin-top: 0px;
	margin-bottom: 6px;
}

h4.tclist {
   margin-left: 18px;
}

h4.tclist2 {
   margin-left: 36px;
}

img {
   border: none;
}


a {
	color: #3366CC;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
/*	color: #011E57; */
   color: #3366CC;
}


hr {
	background-color: #ECECEC;
	background-repeat: repeat-x;
	height: 1px;
	width: 100%;
	border-top: 1px solid #CCCCCC;
	border-right-style: none;
	border-bottom: 1px solid #F5F5F5;
	border-left-style: none;
	margin-top: 0px;
	margin-bottom: 14px;
}

hr.blue {
   border-top: 1px solid #7eb1e0;
}

hr.twocolumnsright {
   margin-top: 12px;
}


table {
   width: 100%;
   border: 0px;
   padding: 0px;
   spacing: 0px;
}

td.toolsleft {
   width: 32px;
   vertical-align: middle;
}

td.toolsright {
   vertical-align: middle;
}





