# Whitelist
# ----------------------------------------------
!projects/cmake/README.txt
!projects/cmake/regenerate.sh
!projects/cmake/build*

# Blacklist
# ----------------------------------------------
projects/cmake
src/revlanguage/constants.h
src/ui/constants.h
boost_1_55_0/bootstrap.log
boost_1_55_0/bin.v2
boost_1_55_0/stage/lib
boost_1_55_0/project
boost_1_55_0/project-config.jam
boost_1_55_0/tools/build/v2/engine/bootstrap
boost_1_55_0/b2
boost_1_55_0/bjam
boost_1_55_0/tools/build/v2/engine/bin.macosxx86_64/b2
boost_1_55_0/tools/build/v2/engine/bin.macosxx86_64/bjam
boost_1_55_0/tools/build/v2/engine/bin.linuxx86_64/b2
boost_1_55_0/tools/build/v2/engine/bin.linuxx86_64/bjam
projects/xcode/revbayes.xcodeproj
downloads/*
.DS_Store
TSWLatexianTemp_*
*-converted-to.pdf
examples/brown.log
examples/brown.prec
examples/brown.tree
examples/brown2.log
examples/brown2.prec
examples/cont.rev
examples/gtr.rev
examples/gtr_clock.log
examples/gtr_clock.trees
examples/mvbrownbk.Rev
examples/mvtree
examples/data/placbk
examples/data/placlht
nbproject/configurations.xml
nbproject/project.xml
nbproject/private/CodeAssistancePathMapper.properties
nbproject/private/configurations.xml
nbproject/private/Default.properties
nbproject/private/launcher.properties
nbproject/private/private.xml
tutorials/RB_BayesFactor_Tutorial.aux
tutorials/RB_BayesFactor_Tutorial.log
tutorials/RB_BayesFactor_Tutorial.out
tutorials/RB_BayesFactor_Tutorial.pdf
tutorials/RB_BayesFactor_Tutorial.synctex.gz
examples/.placratelht.Rev.swp
examples/bos
examples/brown3.log
examples/brown3.prec
examples/brown4.log
examples/brown4.prec
examples/placclock.Rev
examples/placcoevol1.log
examples/placcoevol1.prec
*.aux
*.synctex.gz
