projects/cmake/CMakeCache.txt
projects/cmake/CMakeFiles
projects/cmake/CMakeLists.txt
projects/cmake/Makefile
projects/cmake/cmake_install.cmake
projects/cmake/core
projects/cmake/libs
projects/cmake/rb
projects/cmake/revlanguage
projects/xcode/revbayes.xcodeproj
