<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>BandbCtl</string>
		<key>uniqueID</key>
		<string>BCC9A8AE-4357-4409-9D94-61F08E4E6BA0.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>HeuristicCtl</string>
		<key>uniqueID</key>
		<string>50FE031B-5305-4293-B1A9-9D3F99C18B61.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>HeursticSearchCtl</string>
		<key>uniqueID</key>
		<string>0E45D0C2-9E3B-477E-B853-D33BAC94E55D.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>BandbSearchCtl</string>
		<key>uniqueID</key>
		<string>B627623B-8044-44DD-820B-5E17B8B04C9E.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>ExhaustiveSearchCtl</string>
		<key>uniqueID</key>
		<string>10C639C0-882C-4919-A1F1-211251216C5B.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>TreeSetTool</string>
		<key>uniqueID</key>
		<string>2E6151AC-B4FB-4CF5-8ACA-D414AFFB567B.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>TreeDiagnosticTool</string>
		<key>uniqueID</key>
		<string>0D4A47CB-B0DD-49A6-8B11-10B98EC7E0CF.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>TreeSetViewer</string>
		<key>uniqueID</key>
		<string>3DD82D71-7056-4840-98E6-2B95F23ACF59.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>TreeSetToolController</string>
		<key>uniqueID</key>
		<string>9855242E-9DD3-4E88-A320-5E4CC3071E8A.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>ReadDataToolController</string>
		<key>uniqueID</key>
		<string>B40A2C7E-C7FF-4E2E-8A28-C4AF428F9BE5.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>TypicalTool</string>
		<key>uniqueID</key>
		<string>845834DA-9625-4F66-AD90-290C43A81F32.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>TypicalToolResolved</string>
		<key>uniqueID</key>
		<string>6E582F5B-6544-48EE-BD68-4425B59C25C1.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>MatrixCombinerController</string>
		<key>uniqueID</key>
		<string>D6BAA213-FCBB-4CF5-857E-B92A847A8410.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>AlignmentToolController</string>
		<key>uniqueID</key>
		<string>ACA528F1-E1AF-476C-9CFE-DAD45027919E.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>SimulateTool</string>
		<key>uniqueID</key>
		<string>4A78D795-1BB2-4FA9-875E-C29F02BC9E66.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>image_0021</string>
		<key>uniqueID</key>
		<string>AD692CF8-6C9C-4619-8FD0-FCF683BC07E0.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>ReadDataTool</string>
		<key>uniqueID</key>
		<string>29B3C3C7-745A-4FE4-BD61-D3E7F49018AE.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>RevBayesIcon</string>
		<key>uniqueID</key>
		<string>DEC9905F-D906-4BDB-B7F7-2C6728B8DC36.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>ParsimonyTool</string>
		<key>uniqueID</key>
		<string>2D25D844-8FB9-4163-827A-219960991B4E.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>MCMCDiagnosticTool</string>
		<key>uniqueID</key>
		<string>116A1CFA-AC22-4C85-9EE1-E6A8E1E0E9BC.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>NeighborJoiningTool</string>
		<key>uniqueID</key>
		<string>2092FC98-34CE-4116-8376-638B7E4348D2.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>ModelTool</string>
		<key>uniqueID</key>
		<string>6F11BC41-2284-4EA1-944D-888E929FA78B.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>MCMCTool</string>
		<key>uniqueID</key>
		<string>31586878-6AA2-4D8C-AEFD-9B3F0E49722A.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>ExpandedDataViewer</string>
		<key>uniqueID</key>
		<string>C36395DA-A211-4337-9507-9D235CDD4340.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>DataViewer</string>
		<key>uniqueID</key>
		<string>3958F4F6-8FA1-4377-8F7D-79ADBA24DF24.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>MatrixFilterTool</string>
		<key>uniqueID</key>
		<string>7BFCFBE0-1567-4701-8C08-125AE24C7532.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>Loop</string>
		<key>uniqueID</key>
		<string>4B8A26C9-615F-49F0-9AE4-8D71061B1B0F.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>LaboratoryNotebook</string>
		<key>uniqueID</key>
		<string>F450D062-5ED2-44CE-A98C-D0D1FA14F5FC.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>DistanceMatrixTool</string>
		<key>uniqueID</key>
		<string>C664E7B3-4EDE-4F71-8450-369995ADD2DE.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>DataEntryTool</string>
		<key>uniqueID</key>
		<string>E7A1EEAB-D98E-4B1D-8991-B2BB1C4620D6.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>CombinerTool</string>
		<key>uniqueID</key>
		<string>21069C08-0C59-4E67-8AB1-0E201B3ED860.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>ConcatenationTool</string>
		<key>uniqueID</key>
		<string>DBE836CB-0186-4B43-B9FB-971F904ABED8.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>BootstrapTool</string>
		<key>uniqueID</key>
		<string>CEBCCEE4-70E5-4003-86A4-C3036CE835F1.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>PopulatedWorkbench</string>
		<key>uniqueID</key>
		<string>D7242392-1A82-40CC-8087-BEEABC6F9761.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>Workbench</string>
		<key>uniqueID</key>
		<string>711F235D-7DF4-4668-A689-CB1E5DF4FA12.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>AlignmentTool</string>
		<key>uniqueID</key>
		<string>74934A03-3F5D-4BB5-8D67-8740C5627319.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>CommandModuleBig</string>
		<key>uniqueID</key>
		<string>6D9C2389-AEA1-4E10-AC5A-93B906F648AA.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>CommandModule</string>
		<key>uniqueID</key>
		<string>99D4B91E-A6E8-4B26-8AC4-E257B0327832.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>AnnotatedWorkbench</string>
		<key>uniqueID</key>
		<string>2FE31EFD-A94E-4586-B2FC-DB5101DEC1CF.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>DataMatrixClean</string>
		<key>uniqueID</key>
		<string>0F88229F-D806-4A80-B358-5EF8E756BA7D.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>DataMatrixExpandedClean</string>
		<key>uniqueID</key>
		<string>7888457C-11B2-4517-83FD-ABF421F21661.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>ConcatenateCtl</string>
		<key>uniqueID</key>
		<string>570099AE-3042-470D-8FFE-B6CADC48888B.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>DataEntryCtl</string>
		<key>uniqueID</key>
		<string>0AC60F4A-F382-4680-A996-5BF34D85F26D.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>MatrixFilterCtl2</string>
		<key>uniqueID</key>
		<string>E3DDD86C-5C8B-46CC-A742-25462B7278C7.png</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>MatrixFilterCtl1</string>
		<key>uniqueID</key>
		<string>92542CDF-A171-4273-8562-007438D7D4FA.png</string>
	</dict>
</array>
</plist>
