<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en-us</string>
	<key>CFBundleIdentifier</key>
	<string>com.berkeley.revbayes.help</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>RevBayesHelp</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1</string>
	<key>CFBundleSignature</key>
	<string>hbwr</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>HPDBookAccessPath</key>
	<string>RevBayesHelp.html</string>
	<key>HPDBookIconPath</key>
	<string>Shared/bayesmodel.png</string>
	<key>HPDBookIndexPath</key>
	<string>RevBayes.helpindex</string>
	<key>HPDBookKBProduct</key>
	<string>revbayes</string>
	<key>HPDBookKBURL</key>
	<string>http://fisher.berkeley.edu/cteg/huelsenbeck.html</string>
	<key>HPDBookRemoteURL</key>
	<string>http://fisher.berkeley.edu/cteg/huelsenbeck.html</string>
	<key>HPDBookTitle</key>
	<string>RevBayes Help</string>
	<key>HPDBookType</key>
	<string>3</string>
	<key>HPDBookTopicListCSSPath</key>
	<string>helpstyles1.css</string>
	<key>HPDBookTopicListTemplatePath</key>
	<string></string>
</dict>
</plist>
